@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    overflow: hidden;
    margin: auto; // 
}

.head {
    // height: 200px;
    margin-bottom: 20px;
    span {
        margin: 0 10px;
    }
    .topnav {
        width: 100%;
        overflow: hidden;
        background: #f6f6f6;
    }
    .topnav-left,
    .topnav-login {
        float: left;
        height: 30px;
        li {
            float: left;
            line-height: 30px;
            a {
                font-size: 12px;
                color: #474747;
                 :hover {
                    color: red;
                }
            }
        }
    }
    .topnav-login {
        float: right;
    }
    .searchnav {
        height: 80px;
        .logo {
            display: block;
            float: left;
            width: 330px;
            height: 60px;
            margin: 32px 15px 0 0;
            background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/logo.34b1b031.png) no-repeat;
        }
    }
}

//最外层背景
.login-big {
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #fc2f00 50%, #c20004);
}

// 背景
.login-wrapper {
    background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/img.255eac05.png) no-repeat;
    background-size: contain;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
}

.login-main {
    position: absolute;
    top: 135px;
    right: 0;
    padding: 40px 26px;
    width: 298px;
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    .login-bt {
        height: 54px;
        position: relative;
        h3 {
            float: left;
            font-size: 16px;
        }
        .login-hd {
            position: absolute;
            top: 0px;
            right: 0;
        }
    }
    form {
        display: block;
    }
    .login-tel,
    .login-pass {
        position: relative;
        margin: 0 0 20px;
        padding: 0 42px 0 42px;
        height: 42px;
        border: 1px solid #e6e6e6;
        i {
            width: 42px;
            height: 42px;
            background: #d0d0d0;
            float: left;
            position: absolute;
            left: 0px;
            color: #fff;
        }
        input {
            display: block;
            border: none;
            padding: 8px 14px;
            width: 206px;
            height: 26px;
            color: #333;
            outline: none;
            font: 14px/20px Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1";
        }
    }
    .login-sub {
        width: 100%;
        height: 44px;
        background: #fc002d;
        color: #fff;
        font: 14px/20px Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1";
        display: block;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
        margin-bottom: 20px;
    }
    .mm-link {
        a {
            color: #000;
            float: right;
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #302e2e;
    color: #fff;
    font-size: 12px;
    padding: 20px 0;
    .footer-left {
        float: left;
        margin-top: 20px;
        color: #999;
        p {
            margin-bottom: 10px;
        }
        span:nth-of-type(1) {
            font-size: 14px;
            font-weight: bold;
            margin-right: 5px;
        }
        span:nth-of-type(2) {
            font-size: 18px;
            color: #fc002d;
            vertical-align: middle;
        }
    }
    .footer-right {
        float: right;
    }
}