* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.head {
  margin-bottom: 50px;
}
.head span {
  margin: 0 10px;
}
.head .topnav {
  width: 100%;
  overflow: hidden;
  background: #f6f6f6;
}
.head .topnav-left,
.head .topnav-login {
  float: left;
  height: 30px;
}
.head .topnav-left li,
.head .topnav-login li {
  float: left;
  line-height: 30px;
}
.head .topnav-left li a,
.head .topnav-login li a {
  font-size: 12px;
  color: #474747;
}
.head .topnav-left li a :hover,
.head .topnav-login li a :hover {
  color: red;
}
.head .topnav-login {
  float: right;
}
.head .searchnav {
  height: 80px;
}
.head .searchnav .logo {
  display: block;
  float: left;
  width: 330px;
  height: 60px;
  margin: 32px 15px 0 0;
  background: url(https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/logo.34b1b031.png) no-repeat;
}
.head .search {
  float: left;
  margin: 30px 0 0 55px;
}
.head .search .searchbox {
  width: 400px;
  height: 38px;
  border: 2px solid #fd4165;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  position: relative;
}
.head .search .searchbox input {
  width: 350px;
  height: 30px;
  float: left;
  margin-top: 4px;
  margin-left: 40px;
  border: none;
}
.head .search .searchbox .searbtn {
  width: 75px;
  height: 42px;
  position: absolute;
  right: -77px;
  top: -2px;
  background: linear-gradient(90deg, #fd4165, #fc002d);
  border-radius: 0 20px 20px 0;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.head .search ul {
  margin-left: 15px;
  overflow: hidden;
}
.head .search ul li {
  float: left;
}
.head .search ul li a {
  font-size: 12px;
  color: #666666;
}
.head .buycar {
  width: 128px;
  height: 35px;
  float: left;
  text-align: center;
  line-height: 40px;
  border: 1px solid #dfdfdf;
  margin-left: 110px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 12px;
}
.head .buycar a {
  color: #fc002d;
}
.head .buycar span {
  vertical-align: top;
  margin-left: 2px;
}
.head .buycar img {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}
.head .erm {
  float: right;
  width: 80px;
  height: 80px;
  margin: 17px 0 0;
}
.head .erm img {
  display: block;
  width: 100%;
  height: 100%;
}
.head .nav {
  width: 100%;
  background-color: #fc002d;
  height: 35px;
}
.head .navs {
  line-height: 35px;
  margin-top: 44px;
}
.head .navs .nav-leftbot {
  float: left;
}
.head .navs .navs-left {
  float: left;
  width: 230px;
  height: 35px;
  color: #fff;
  background-color: #d81b1b;
  text-align: center;
}
.head .navs .nav-left-bot {
  width: 230px;
  height: 430px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.08);
  position: relative;
}
.head .navs .nav-left-bot .nav-name {
  color: #333333;
  font-size: 13px;
}
.head .navs .nav-left-bot .nav-box {
  position: absolute;
  left: 230px;
  top: 33px;
  border: 2px solid #fd4165;
  width: 695px;
  padding: 6px 15px 16px 30px;
  min-height: 374px;
  background-color: #fff;
}
.head .navs .nav-left-bot .box-item {
  float: left;
  z-index: 100;
}
.head .navs .nav-left-bot .box-item dt {
  width: 695px;
  height: 26px;
  font-size: 14px;
}
.head .navs .nav-left-bot .box-item a {
  color: #fd4165;
}
.head .navs .nav-left-bot .box-item .box-list {
  font-size: 12px;
  width: 695px;
}
.head .navs .nav-left-bot .box-item .box-list a {
  color: #000000;
}
.head .navs .nava {
  display: block;
  float: left;
  width: 115px;
  height: 35px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.head .navs .nava:hover {
  background-color: #d81b1b;
  color: #fff;
}
.head .navs .bannerimg {
  float: left;
  width: 730px;
  height: 390px;
  padding: 8px 8px 0 8px;
  position: relative;
}
.head .navs .bannerimg ul li {
  position: absolute;
  left: 8px;
  top: 8px;
  opacity: 0;
}
.head .navs .bannerimg ul li:nth-of-type(1) {
  opacity: 1;
}
.head .navs .bannerimg ol {
  width: 225px;
  height: 20px;
  position: absolute;
  left: 320px;
  bottom: 0px;
}
.head .navs .bannerimg ol li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  float: left;
  margin-right: 5px;
  text-indent: -999em;
  cursor: pointer;
}
.head .navs .bannerimg ol li .active {
  background-color: red;
}
.head .navs .bannerimg #leftarrow,
.head .navs .bannerimg #rightarrow {
  color: #fff;
  font-size: 50px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  width: 30px;
  height: 50px;
}
.head .navs .bannerimg #leftarrow {
  left: 20px;
}
.head .navs .bannerimg #rightarrow {
  right: 20px;
}
.head .navs .loginbox {
  float: left;
  width: 220px;
  overflow: hidden;
  margin-top: 8px;
}
.head .navs .loginbox .lo-top,
.head .navs .loginbox .lo-bot {
  width: 220px;
  border: 1px solid #e7e7e7;
}
.head .navs .lo-top {
  height: 200px;
}
.head .navs .lo-top li {
  float: left;
  text-align: center;
  width: 108px;
  height: 35px;
  color: #fc002d;
  font-size: 14px;
}
.head .navs .lo-top .logintab {
  width: 111px;
  background-color: #ebebeb;
}
.head .navs .lo-top .logintab a {
  color: #666;
}
.head .navs .lo-top .username,
.head .navs .lo-top .password {
  width: 197px;
  height: 30px;
  font-size: 12px;
  text-align: left;
  margin: 8px 0 0 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  text-indent: 10px;
}
.head .navs .lo-top .login-sub {
  width: 197px;
  height: 32px;
  border-radius: 16px;
  color: #fff;
  background-image: linear-gradient(90deg, #fd4165, #fc002d), linear-gradient(#fff, #fff);
  background-blend-mode: normal, normal;
  border: 1px solid #fd4065;
  margin-left: 10px;
  margin-top: 8px;
}
.head .navs .lo-top .mm-link .mm-linkzc {
  margin-left: 115px;
}
.head .navs .lo-top .mm-link a {
  color: dimgray;
  font-size: 12px;
}
.head .navs .lo-bot {
  height: 185px;
}
.head .navs .lo-bot ul {
  width: 100px;
  margin: 14px auto;
}
.head .navs .lo-bot ul li {
  margin-top: 5px;
  color: #333;
  font-size: 14px;
}
.head .navs .lo-bot img {
  margin-right: 5px;
  vertical-align: middle;
}

.list {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  font-size: 14px;
}
.list li {
  width: 220px;
  padding: 10px 10px 0;
  float: left;
  margin-bottom: 24px;
  height: 313px;
  position: relative;
}
.list li a {
  text-decoration: none;
  color: black;
}
.list li p {
  width: 220px;
  height: 90px;
  line-height: 24px;
  margin: 8px 0 9px 0;
  font-size: 12px;
  overflow: hidden;
}
.list li p a:hover {
  color: #fc002d;
}
.list li img {
  width: 200px;
  height: 165px;
  display: block;
}
.list li span {
  display: block;
  color: red;
  font-size: 20px;
}

.navbox {
  width: 1200px;
  height: 110px;
  margin: auto;
}
.navbox dl {
  overflow: hidden;
  background-color: #f7f7f7;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  position: relative;
}
.navbox dl dt {
  width: 94px;
  height: 28px;
  font: 12px/28px Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1";
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 15px;
  float: left;
}
.navbox dl dd {
  width: 1050px;
  float: left;
  padding: 14px 10px;
  margin-left: 100px;
  border-left: 1px solid #d3d3d3;
}
.navbox dl dd a {
  margin-right: 30px;
}

.px {
  width: 1200px;
  margin: auto;
  overflow: hidden;
  border-bottom: 1px solid #fc002d;
}
.px .active {
  background-color: #fc002d;
  color: #fff;
}
.px li {
  width: 140px;
  height: 40px;
  background-color: #fff;
  border: none;
  float: left;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.pagelist {
  padding-top: 20px;
  padding-bottom: 40px;
}

.m-style {
  margin-right: 380px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #302e2e;
  color: #fff;
  font-size: 12px;
  padding: 20px 0;
}
.footer .footer-left {
  float: left;
  margin-top: 20px;
  color: #999;
}
.footer .footer-left p {
  margin-bottom: 10px;
}
.footer .footer-left span:nth-of-type(1) {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}
.footer .footer-left span:nth-of-type(2) {
  font-size: 18px;
  color: #fc002d;
  vertical-align: middle;
}
.footer .footer-right {
  float: right;
}

/*# sourceMappingURL=list.css.map */
